AWS_ACCESS_KEY_ID = ""

AWS_REGION = "us-west-2"

AWS_SECRET_ACCESS_KEY = ""

default_tags = {
  Owner         = "me@github.com"
}

env = "dev"

route53_zone = "odl.io."

subdomain = "terraformers.odl.io"
